<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.web.project.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.web.project.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSevlet</servlet-name>
        <servlet-class>com.web.project.servlets.AdminSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.web.project.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFlightServlet</servlet-name>
        <servlet-class>com.web.project.servlets.AddFlightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>com.web.project.servlets.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFlightView</servlet-name>
        <servlet-class>com.web.project.servlets.AdminFlightView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFlightServlet</servlet-name>
        <servlet-class>com.web.project.servlets.UpdateFlightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFlight</servlet-name>
        <servlet-class>com.web.project.servlets.SearchFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>com.web.project.servlets.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketProfileDisplay</servlet-name>
        <servlet-class>com.web.project.servlets.TicketProfileDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>com.web.project.servlets.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFlightconform</servlet-name>
        <servlet-class>com.web.project.servlets.AdminFlightconform</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightDelete</servlet-name>
        <servlet-class>com.web.project.servlets.FlightDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderId</servlet-name>
        <servlet-class>com.web.project.servlets.OrderId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSevlet</servlet-name>
        <url-pattern>/AdminSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFlightServlet</servlet-name>
        <url-pattern>/AddFlightServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFlightView</servlet-name>
        <url-pattern>/AdminFlightView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFlightServlet</servlet-name>
        <url-pattern>/UpdateFlightServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFlight</servlet-name>
        <url-pattern>/SearchFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketProfileDisplay</servlet-name>
        <url-pattern>/TicketProfileDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFlightconform</servlet-name>
        <url-pattern>/AdminFlightconform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightDelete</servlet-name>
        <url-pattern>/FlightDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderId</servlet-name>
        <url-pattern>/OrderId</url-pattern>
    </servlet-mapping>
</web-app>
